<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <style>
    body {
      background-color: lightblue;
    }

    .right {
      font-weight: bold;
      font-size: 22px;
      margin-right: 60px;
      float: right;
      }
    </style>
  <body>
    <div><h3><a href="/login">Home</a></h3></div>
    <br>
    <div class="right"><a href="/logout">Logout</a></div>
    <center><h1>{{ title }}</h1></center>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
